<%= open_action 'show', :action => 'show', :id => item.id %>
<%= open_action 'edit', :action => 'edit', :id => item.id %>
<%= open_action 'destroy', {:action => 'destroy', :id => item.id}, :confirm => "Destroy #{controller.model_desc(item)}?" %>