<div id="<%= public_id %>_nav" class="nav">
  
  <%= render :partial => 'loading' %>
  
  <div id="<%= public_id %>_message" class="message" style="display:none;"></div>
  
  <div id="<%= public_id %>_nav_links" class="nav_links">
    <%= render :partial => 'nav_links' %>
  </div>
  
</div>
